<div class="about-default">
    <h1 class = "text-center">ACM队简介 </h1>
    <p class = "dlbegin"> ACM国际大学生程序设计竞赛（简称ACM/ICPC）是由国际计算机界历史最悠久、最具权威性组织ACM学会主办，是世界上公认的规模最大、水平最高的国际大学生程序设计竞赛，其目的指在使大学生运用计算机来充分展示个人分析问题和解决问题的能力。ACM崇尚创意、创新，对于当代大学生有着非常强烈的吸引力。比赛题目需要选手具有较强的逻辑思维能力、实际应用能力及创新能力。因历届竞赛都芥蒂了世界各大洲的精英，云集了计算机界的“希望之星”而受到国际各知名大学的重视，并受到全世界各著名计算机公司如Microsoft，IBM等的高度关注，成为世界各国大学生最具影响力的国际级计算机类的赛事，ACM所颁发的获奖证书也为世界各著名计算机公司、各知名大学所认可。</p>
    <p class = "dlbegin"> 青岛大学ACM队是一支优秀的队伍，一支充满活力与激情的队伍，它满载着光辉与荣誉。在过去的几年里，集训队的队员曾代表我校多次参加ACM国际大学生程序设计竞赛和s山东省ACM大学生程序设计竞赛，获得了佳绩，并成功举办了第六届山东省程序设计竞赛。</p>
    <p class="dlbegin"> ACM队会在每月举行一次ACM月赛，该比赛是ACM选拨队员的重要评据。ACM队用比赛来保证队伍的活力，以比拼来加强队伍的素质，正是如此，ACM队的队员在程序设计方面始几乎终代表着全院的最高水平。 </p>
    <p class = "dlbegin">    如果你有意加入这支优秀的队伍，就用你的行动来证明你的优秀吧，每月的月赛将是你展示自我的舞台。
    Come on, ACMer !!!</p>
</div>
