 <div class="nav bs-sidenav">
                   
    <div id = "gao">
       <h3 class="gao-h3">公告</h3>
       <marquee direction=up class="gao" id=m onmouseout=m.start() onMouseOver=m.stop() scrollamount=2 >
            <div>
              <h4 class="gao-h4">标题</h4>
                <p>fsdfflksjdflkjasdklfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</p>
            </div>

            <div>
              <h4 class="gao-h4">标题</h4>
                <p>fsdfflksjdflkjasdklfjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</p>
            </div>
        </marquee>
    </div>        
</div>