 <div class="nav bs-sidenav">
                   
    <div id = "gao">
       <h3 class="gao-h3">公告</h3>
       <marquee direction=up class="gao" id=m onmouseout=m.start() onMouseOver=m.stop() scrollamount=2 >
            <div>
              <h4 class="gao-h4"><font color="#FF0000" size=5>通知：</font></h4>
                <p><font color="#FF0000" size=4>8月30日下午1点到3点oj小测试,这次考试难度不大，希望大家能细心做好每一个题～</font></p>
            </div>

            <div>
              <h4 class="gao-h4"><font size=5>注意：</font></h4>
                <p><font size=4>上次测试的1945题数据重判了，亲测无误～大家可以去做了</font></p>
            </div>
        </marquee>
    </div>        
</div>