
<form class="form-inline serach-top" role="form" action="/problem/" method="get">
    <div class="form-group">
        <span >Classify：</span>
        <select name="type" class="form-control">
                <option value="-1">全部</option>
                <option value="0">其它</option>
                <option value="1">模拟</option>
                <option value="2">动态规划</option>
                <option value="3">字符串处理</option>
                <option value="4">搜索</option>
                <option value="5">数论 / 数值</option>
                <option value="6">计算几何</option>
                <option value="7">图结构</option>
                <option value="8">树结构</option>
                <option value="9">匹配</option>
                <option value="10">并查集</option>
                <option value="11">贪心</option>
                <option value="12">最短路</option>
                <option value="13">博弈论</option>
                <option value="14">高级数据结构</option>
                <option value="15">网络流</option>
            </select>
    </div>
  <button type="submit" class="btn btn-default serach_move">Serach</button>
  <div class="form-group serach_move">
    <label class="sr-only" for="Problem-id"></label>
    <input type="text" class="form-control" name='pid' id="" placeholder="Problem ID">
  </div>     
</form>
