{% extends 'base.html' %}
{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top">
<!--
        {% block top_bar%}
        {% endblock %}
-->
        {% include "_top_bar.html"%}
    </div>
    <div class="bs-mid" id="content">
       {% block top_title%}
        {% endblock %}
    </div>

        <div class="container">
            <div class="row row-mid">
                <div class="col-md-3">
                   <div class="bs-sidebar hidden-print affix-top" role="complementary">
                      {% block mid_left_3%}
                      {% endblock %}
                   </div>
                </div>
                <div class="col-md-9">
                    {% block mid_top%}
                    {% endblock %}
                    {% block mid_mid_9%}
                    {% endblock %}
                    
                </div>
            </div>
        </div>
{% endblock %}