<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script type="text/javascript" src="{{ STATIC_URL }}scripts/shCore.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}scripts/shBrushCpp.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}scripts/shBrushJava.js"></script>
	    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}styles/shCore.css"/>
	    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}styles/shThemeDefault.css"/>
	    <script type="text/javascript">
            SyntaxHighlighter.config.clipboardSwf = '{{ STATIC_URL }}scripts/clipboard.swf';
		    SyntaxHighlighter.all();
	    </script>
        
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/1.css">
        <script src="{{ STATIC_URL }}js/1.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <title>
        {% block title %}
        {% endblock %}
        </title>
        {% block script%}
        {% endblock %}
        {% block css%}
        {% endblock %}
        {% block meta%}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html> 