/*
.container {
    
   width: 90%;
    margin: auto;
}
*/
.btn-black {
    margin-left: 20px;
    margin-top: 8px;
    color: #EEE;
    background-color: #0F0F0F;
    border-color: #2A1A53;;
}
.top-bar-center{
    align-content: center;
    margin-left: 20px;

}
.top-bar-right{
    float: right;
    margin-right: 10px;

}

.btn-default-a {
    color: #EEE;
    text-decoration:none;
}
.btn-default-a:hover{
    color: #2A1A53;
    text-decoration:none;
}
.btn-black:hover{

  color: #2A1A53;
}


.bs-mid {
    margin-top: 51px;
    padding: 30px 15px 40px;
    font-size: 21px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    background: #141414;
}
.row {
    margin-right: -15px;
    margin-top:40px;
    margin-left: -15px;
    margin-bottom: 5px;
}
@media (min-width: 1200px)
.bs-sidebar.affix-bottom, .bs-sidebar.affix {
    width: 263px;
}
@media (min-width: 992px)
.bs-sidebar.affix {
    position: fixed;
    top: 80px;
}
.bs-sidenav {
    margin-top: 0px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f7f5fa; 
    border-radius: 10px;
/*
    border-color:#2A1A53;
    border-right-width: 20px;
    border-top-width: 20px; 
*/
}
.row-mid {
    margin-right: -15px;
    margin-top: 45px;
    margin-left: -15px;
}

/*problem-table-width*/
.td-p{
    width: 5%;
}

.td-ID{
    width: 15%;
}
.td-Title{
    width: 35%;
}
.td-Ratio{
    width: 20%;
}
.td-Date{
    width: 25%;
}
.progress {
    height: 20px;
    margin-bottom: 0px;
    border-radius: 4px;
}

/*gonggao*/
.gao{
    margin-left:12px;
    margin-right: 12px;
    height: 250px;
    width: 90%;
    word-break:break-all;
    padding: 10px;
}
.gao-h3{
    text-align: center;
    border-bottom: dashed 1px #CCCCCC;
    padding: 0px 4px 4px 4px;
    
}

.gao-h4{
    text-align: center;
}
/*secrch*/
.serach_move{
    float: right;
}
.serach-top{
    margin-bottom: 5px;
}

/*sign*/
.sign{
    background-color: #f7f5fa;
    margin: auto;
    width: 70%;
    padding: 80px;
    border-radius: 10px;
}

/*problem*/
.problem{

    background-color: #f7f5fa;
    margin: auto;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
}
.problem-submit{

    margin: auto;
    width: 35%;
    padding: 20px;
}
.problem-submit .status{
    float: right;
}

.problem-title{

    text-align: center;
    color:#712015;
}
.problem-info{
    text-align: center;
}
.problem-info .font-color{
    color:#712015;
}
.problem .mid{
}
.problem .mid-title{
    color:#712015;
}
.problem .mid .content{
    font-family: Consolas, Courier New, DejaVu Sans Mono, Droid Sans Mono, monospace;
    word-break:break-all;
}
.submit-language{
    width: 30%;
}
.submit_text{
    width: 98%;
    margin: auto;
}
.CodeMirror {
    margin: 6px 0;
    line-height: 1em;
    border: 1px solid #ddd;
    font-family: 'Droid Sans Mono', Consolas, Courier New, monospace;
    background-color: #fff;
}

.CodeMirror-scroll {
    min-height: 250px;
    height: auto;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    position: relative;
}
/*solution*/

.serach-width{
    width: 20%;
}

.serach-width-result{
    width: 30%;
}
.status-td{
    text-align: center;
}
.td-rid{
    width: 10%;
    text-align: center;
}
.td-user{
    width: 10%;
    text-align: center;
}
.td-pid{
    width: 8%;
    text-align: center;
}
.td-result{
    width: 15%;
    text-align: center;
}
.td-memory{
    width: 10%;
    text-align: center;
}
.td-time{
    width: 8%;
    text-align: center;
}
.td-Language{
    width: 5%;
    text-align: center;
}
.td-clength{
    width: 10%;
    text-align: center;
}
.td-stime{
    width: 20%;
    text-align: center;
}

.code-default{
    background-color: #f7f5fa;
    padding: 1px 1px;
    border-radius: 5px;
}

/*userinfo-bar*/
.user-span{
    height: 50px;
    padding: 15px 0 15px 0;
}
.user-info-bar{
    height: 50px;
    font-size: 17px;
    color: #999;
    text-decoration:none;
    text-align: center;
}
.user-info-bar:hover{
  	color: #2A1A53;
    text-decoration:none;
}


.error-info{
    text-align: center;
}
.only{
}
.only : hover{
    display: inline;
    color: #2A1A53;
}

/*contest*/
.contest{

    background-color: #f7f5fa;
    margin: auto;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
}

.c_status{
    width: 10%;
    text-align: center;
}
.c_ID{
    width: 10%;
    text-align: center;
}
.c-title{
    width: 30%;
    text-align: center;
}
.c-mode{
    width: 10%;
    text-align: center;
}
.c-public{
    width: 10%;
    text-align: center;
}
.c_time{
    width: 30%;
    text-align: center;
}
.contest_info{
    text-align: center;
}
.server-time{
}
.server-time h3 span{
    color: #712015;
}

/*about*/
.about-bar{
    width: 80%;
    padding: 40px;
}
.about-default{
    background-color: #f7f5fa;
    padding: 20px 0px;
    border-radius: 10px;
}
.dlbegin{
    text-indent:2em;
}
.top-menu{
    padding-left:0px;
    margin-bottom:40px;
}

.table-align{
    margin:40px 80px;
}

._basic_info_head{
    padding: 10px;
    text-align: center;
    border-bottom: dashed 1px #CCCCCC;
}

._submit_info_head{
    padding: 10px;
    text-align: center;
    border-bottom: dashed 1px #CCCCCC;
}
._basic_info{
    margin-left:12%;
    margin-right: 10%;
    width: 90%;
    word-break:break-all;
}
.basic_info{
    height: 250px;
    padding: 10px 0px 30px 0px;
    
}
._submit_info{
    background-color: #f7f5fa;
    margin: auto;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    word-break:break-all;
    padding-bottom: 70px;
}

._sub_head{
    margin-top: 5%;
    border-bottom: dashed 1px #CCCCCC;
    
}
.problem_pass{
	background: url('/static/img/1.png');
	background-repeat: no-repeat;
	background-position: center;
}
.problem_unpass{
	background: url('/static/img/2.png');
	background-repeat: no-repeat;
	background-position: center;
}

.user_content{
    color: #009966;
}

.submit_list {
    text-align: center;
    line-height: 2em;
}

.rank-status {
    margin-top: 50px;
}
.rank-excel {
    margin-top: 50px;
    margin-left: 25%;
}
.rot90{
	-moz-transform:rotate(90deg); 
	-webkit-transform:rotate(90deg); 
	transform:rotate(90deg); 
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}