 <div class="nav bs-sidenav">
     <div class='basic_info'>
         <h3 class="_basic_info_head">User information</h3>
        <table class="_basic_info">
            <tr>
                <th>Username</th>
                <td class="user_content">{{ user_info.username }}</td>
            </tr>
            <tr>
                <th>AC</th>
                <td class="user_content">{{ user_info.user_oj.solved }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td class="user_content">{{ user_info.user_oj.integral }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td class="user_content">{{ user_info.email }}</td>
            </tr>
			<tr>
				<th>Integral</th>
				<td class="user_content">{{ user_info.user_oj.integral }}</td>
			</tr>
            <tr>
				{% if accesstime_info != None %}
                <th>Latest login</th>
                	<td class="user_content">{{ user_info.user_oj.accesstime|date:"Y-m-d" }}</td>
				{% endif %}
			</tr>
        </table>
    </div>
</div>
