 <div class="nav bs-sidenav">
     <div class='basic_info'>
         <h3 class="_basic_info_head">User information</h3>
        <table class="_basic_info">
            <tr>
                <th>Username</th>
                <td><font color="#3389FF">{{ user.username }}</font></td>
            </tr>
            <tr>
                <th>AC</th>
                <td><font color="#3389FF">{{ user.user_oj.solved }}</font></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><font color="#3389FF">{{ user.email }}</font></td>
            </tr>
            <tr>
                <th>Latest login</th>
                <td><font color="#3389FF">{{ user.user_oj.accesstime|date:"Y-m-d" }}</font></td>
            </tr>
        </table>
    </div>
</div>