<li>
    <form role="form" action="{% url "sign_in" %}" method="get"> 
        
        {%  if request.path != '/sign_up/' and request.path != '/sign_in/' %}
            <input type="hidden" name='next' value="{{request.path}}?{% for key, var in request.GET.iteritems %}{{key}}={{var}}&{% endfor %}">
        {% endif %}
        <button type="submit" class="btn btn-black">Sign in</button>
    </form>
</li>
<li>
    <form role="form" action="{% url "sign_up" %}" method="get"> 
        <button type="submit" class="btn btn-black">Sign up</button>
    </form>
</li>
