<div class="sign">
    {% if error %}
    <div class="alert alert-danger error-info">{{ error }}</div>
    {% endif %}
    <form role="form" action="{% url "sign_up" %}" method="post" id = 'sign_up'>
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control input-lg" id="sgin_up_username" placeholder="Username" data-toggle="tooltip" data-placement="top" title="请输入20个字符以内" maxlength="20" autofocus="autofocus">
      </div>
      <div class="form-group">
        <label for="school-ID">School ID</label>
        <input type="text" name="school_ID" class="form-control input-lg" id="sign_up_id" data-toggle="tooltip" data-placement="top" title="请填写正确的学号(9-11位）" placeholder="School ID" maxlength="12" >
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control input-lg" id="sign_up_email" placeholder="Enter email" maxlength="50">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control input-lg" id="sign_up_password" placeholder="Password" maxlength="20">
      </div>
       <label for="submit">Submits</label>
      <button type="submit" class="btn btn-success btn-lg btn-block">Sign up for Online Judge</button>
    </form>
</div>