{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}
<form role="form" action="{% url "sign_up" %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" class="form-control input-lg" id="Username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="school-ID">School ID</label>
    <input type="text" name="school-ID" class="form-control input-lg" id="School ID" placeholder="School ID">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" name="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control input-lg" id="exampleInputPassword1" placeholder="Password">
  </div>
   <label for="submit">Submits</label>
  <button type="submit" class="btn btn-success btn-lg btn-block">Sign up for Online Judge</button>
</form>