<div class="nav bs-sidenav _submit_info">
    <h3 class="_submit_info_head">Submit list</h3>
    <div class="">
        <div class="accepted_lsit">
            <h4 class="_sub_head">Accepted problems({{ user.user_oj.solved }})</h4>
            {% if accepted_list %}
                {% for pid in accepted_list %}
                    <a href="/problem/?pid={{pid}}">{{ pid }}</a>
                {% endfor %}
            {% else %}
                <h5>None</h5>
            {% endif %}
        </div>
        <div class="Unsolved_list">
            <h4 class="_sub_head">Unsolved problems({{ unsolved_num }})</h4>
            {% if unsolved_list %}
                {% for pid in unsolved_list %}
                    <a href="/problem/?pid={{pid}}">{{ pid }}</a>
                {% endfor %}
            {% else %}
                <h5>None</h5>
            {% endif %}
        </div>
    </div>
</div>