<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="c_status">Status</th>
        <th class="c_ID">ID</th>
        <th class="c-title">Contest Title</th>
        <th class="c-mode">Mode</th>
        <th class="c-public">Public</th>
        <th class="c_time">Start Time/End Time</th>
      </tr>
    </thead>
    <tbody class='contest_info'>
      {% for contest in contests %}
      <tr>
        <th class="c_status">{{contest.visible}}</th>
        <th class="c_ID">{{contest.id}}</th>
        <th class="c-title"><a href = "/problem_index/?cid={{contest.id}}">{{contest.title}}</th>
        <th class="c-mode">{{contest.mode}}</th></th>
        <th class="c-public">Public</th>
        <th class="c_time">{{contest.start_time}}/{{contest.end_time}}</th>
      </tr>
		{% endfor %}                                                       
    </tbody>
</table>