<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="c_status">Status</th>
        <th class="c_ID">ID</th>
        <th class="c-title">Contest Title</th>
        <th class="c-mode">Mode</th>
        <th class="c-public">Public</th>
        <th class="c_time">Start Time/End Time</th>
      </tr>
    </thead>
    <tbody class='contest_info'>
      <tr>
        <td class="text-success">Done</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td class="text-success">public</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td class="text-success">public</td>
        <td>2014-06-22 16:05 / 2014-06-22 16:05</td>
      </tr>                            
      <tr>
        <td>2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td class="text-danger">private</td>
        <td>@mdo</td>
      </tr>                            
    </tbody>
</table>