 {% load pagination_tags %}
<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="c_status">Status</th>
        <th class="c_ID">ID</th>
        <th class="c-title">Contest Title</th>
        <th class="c-mode">Mode</th>
        <th class="c-public">Public</th>
        <th class="c_time">Start Time/End Time</th>
      </tr>
    </thead>
    <tbody class='contest_info'>
      {% for contest in contests %}
      <tr>
		{% if contest.defunct == True %}
        <th class="c_status">Passed</th>
		{% else %}
		<th class="c_status" table style="color:#009966">Current</th>
		{% endif %}
        <th class="c_ID"><a href = "/contest_problem_list/?cid={{contest.id}}">{{contest.id}}</th>	
        <th class="c-title"><a href = "/contest_problem_list/?cid={{contest.id}}">{{contest.title}}</th>
		{% if contest.mode == 1%}
        <th class="c-mode">OI</th></th>
	    {% else %}
		<th class="c-mode">ACM</th></th>
		{% endif %}
		{% if contest.private == 0 %}
        	<th class="c-public">Public</th>
		{% else %}
			<th class="c-public">Private</th>
		{% endif %}
        <th class="c_time">{{contest.start_time | date:"Y-m-d H:i"}}/{{contest.end_time | date:"Y-m-d H:i"}}</th>
      </tr>
		{% endfor %}                                                       
    </tbody>
</table>
{% paginate %}