{% extends 'base_layout.html' %}
{% block title %}
{{contest.title}}
{% endblock %}
{% block top_title%}
<div class="container">
    <h1>Contest</h1>
    <p>一些有点难的测试 ！</p>
</div>
{% endblock %}

{% block mid_left_3%}
{% include "_mid_left_3_default.html" %}
{% endblock %}
{% block mid_mid_9%}

{% if start_time > 0 %}
{% include 'contest/servertime.html' %}
{% include 'contest/contest_time.html' %}
{% endif %}
{% if start_time <= 0 %}
<h1 class="text-center">{{contest_title}}</h1>
{% include 'contest/servertime.html' %}
{% include 'contest/_contest_problem_list.html' %}
{% endif %}
{% endblock %}