{% load pagination_tags %}
{% load result_tag %}
<table class="table table-bordered table-hover ">
    <thead>
      <tr>
        <th class="td-rid">Run ID</th>
        <th class="td-user">User</th>
        <th class="td-pid">Problem ID</th>
        <th class="td-result">Result</th>
        <th class="td-memory">Memory</th>
        <th class="td-time">time</th>
        <th class="td-Language">Language</th>
        <th class="td-clength">Code Length</th>
        <th class="td-stime">Submit Time</th>
      </tr>
    </thead>
    {% autopaginate judge_list 10 %}
    <tbody class="status-td">
        {% if judge_list %}
            {% for solution in judge_list %}
              <tr>
                {% if user.username == solution.user.user.username or ADMIN %}
                    <td><a href="{% url 'code' %}?runid={{ solution.id }}">{{ solution.id }}</td>
                {% else %}
                    <td>{{ solution.id }}</td>
                {% endif %}
                <td><a href="{% url 'user_info' %}?username={{ solution.user.user.username }}">{{ solution.user.user.username }}</a></td>
                <td><a href="{% url 'problem' %}?pid={{ solution.problem.id }}">{{ solution.problem.id }}</a></td>
                <td>
                    {% if user.username == solution.user.user.username or ADMIN %}
                      {% if solution.result == 11 %}
                        <a style="text-decoration:none" href="{% url 'ce_error_detial' %}?runid={{ solution.id }}">{% result_tag solution.result %}</a>
                      {% endif %}
                      {% if solution.result == 10 %}
                        <a style="text-decoration:none" href="{% url 're_error_detial' %}?runid={{ solution.id }}">{% result_tag solution.result %}</a>
                      {% endif %}
                      {% if solution.result != 11 and solution.result != 10 %}
                        {% result_tag solution.result %}
                      {% endif %}
                    {% else %}
                      {% result_tag solution.result %}
                    {% endif %}
                </td>
                <td>{{ solution.memory }}</td>
                <td>{{ solution.time }}</td>
                <td id = 'language'>
                {% language_tag solution.language%}
                </td>
                <td>{{solution.code_length }}b</td>
                <td>{{ solution.in_date|date:"Y-m-d H:i:s" }}</td>
              </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
{% paginate %}
