
<form class="form-inline serach-top" role="form">
  <div class="form-group serach-width">
    <label class="sr-only" for="problem_id"></label>
    <input type="text" name="problem_id" class="form-control" id="" placeholder="Problem ID" maxlength="6">
  </div>     
  <div class="form-group serach-width">
    <label class="sr-only" for="user_name"></label>
    <input type="text" name="user_name" class="form-control" id="" placeholder="User Name" maxlength="20">
  </div>     
    
    <div class="form-group">
        <select name="result" class="form-control" id="result_type_s">
                <option value="-1">Result - All</option>
                <option value="4">Accepted</option>
                <option value="5">Presentation Error</option>
                <option value="7">Time Limit Exceeded</option>
                <option value="8">Memory Limit Exceeded</option>
                <option value="6">Wrong Answer</option>
                <option value="10">Runtime Error</option>
                <option value="9">Output Limit Exceeded</option>
                <option value="11">Compile Error</option>
            </select>
    </div>
    <script type="text/javascript">
        for(var i = 0; i < result_type_s.options.length; i ++){
            if(result_type_s.options[i].value == {{result_type}}){
                result_type_s.options[i].selected = true;	
            }
        }
    </script>
    <div class="form-group serach-width">
        <select name="language" class="form-control" id="language_type_s">
                <option value="-1">Language - All</option>
                <option value="0">C</option>
                <option value="1">C++</option>
                <option value="3">Java</option>
        </select>
    </div>
    <script type="text/javascript">
        for(var i = 0; i < language_type_s.options.length; i ++){
            if(language_type_s.options[i].value == {{language_type}}){
                language_type_s.options[i].selected = true;	
            }
        }
    </script>
  <button type="submit" class="btn btn-default serach_move">Serach</button>
</form>
