<table class="table table-bordered table-hover ">
    <thead>
      <tr>
        <th class="td-rid">Run ID</th>
        <th class="td-user">User</th>
        <th class="td-pid">Problem ID</th>
        <th class="td-result">Result</th>
        <th class="td-memory">Memory</th>
        <th class="td-time">time</th>
        <th class="td-Language">Language</th>
        <th class="td-clength">Code Length</th>
        <th class="td-stime">Submit Time</th>
      </tr>
    </thead>
    <tbody class="status-td">
      <tr>
        <td>10111</td>
        <td>Mark</td>
        <td>1011</td>
        <td><button type="button" class="btn btn-danger btn-block btn-xs">Memory Limit</button></td>
        <td>1000k</td>
        <td>22222ms</td>
        <td>c++</td>
        <td>100b</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>101111</td>
        <td>Mark</td>
        <td>1011</td>
        <td><button type="button" class="btn btn-warning btn-block btn-xs">Compile Error</button></td>
        <td>1000k</td>
        <td>22222ms</td>
        <td>c++</td>
        <td>100b</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>101111</td>
        <td>Mark</td>
        <td>1011</td>
        <td><button type="button" class="btn btn-success btn-block btn-xs">Accepted</button></td>
        <td>1000k</td>
        <td>22222ms</td>
        <td>c++</td>
        <td>100b</td>
        <td>2014-06-22 16:05:26</td>
      </tr>
    </tbody>
</table>