<div class="nav admin_left">
    <ul class="nav nav-pills nav-stacked" role="tablist" id="myTab">
        <li class="active" id="problem_list"><a href="#home" role="tab" data-toggle="tab">Home</a>
        </li>
        <li><a href="#profile" role="tab" data-toggle="tab">Profile</a>
        </li>
        <li><a href="#messages" role="tab" data-toggle="tab">Messages</a>
        </li>
        <li><a href="#settings" role="tab" data-toggle="tab">Settings</a>
        </li>
    </ul>
    

    
</div>