<div class="admin_right" id='news-body'>
    <table class="table table-bordered table-hover" id='news-list'>
        <thead>
            <tr>
                <h2 class="text-center">Announcements</h2>
                <th class="td-ID text-center">ID</th>
                <th class="td-Title text-center">Title</th>
<!--                <th class="td-Visible">Visible</th>-->
                <th class="Date text-center">User</th>
                <th class="td-Visible text-center">Visible</th>
                <th class="td-Visible text-center">Modify</th>
                <th class="td-Visible text-center">Delete</th>
            </tr>
        </thead>
        <tbody>
                
        </tbody>
    </table>
    <p>{{msg}}</p>
    <script src="{{ STATIC_URL }}js/admin/news.js"></script>
</div>