<div class="admin_right">
    <table class="table table-bordered table-hover" id='problem-list'>
        <thead>
            <tr>
                <th class="td-ID text-center">ID</th>
                <th class="td-Title text-center">Title</th>
                <th class="Date text-center">User</th>
<!--                <th class="td-Visible text-center">Visible</th>-->
            </tr>
        </thead>
        <tbody>


        </tbody>
    </table>
    <p>{{msg}}</p>
    <script src="{{ STATIC_URL }}js/admin/problem.js"></script>
</div>