<div class="admin_right">
	<div>
		<label for="" >Problem-ID:</label>
		<div class="form-group">
			<textarea type="text" class="form-control" id="p_id" rows = 1 style="width:50%;float: left;"></textarea>
			<button type="submit" class="btn btn-primary" id='p-rejudge'>重判</button>
		</div>
		
		<label for="">Solution-ID:</label>
		<div class="form-group">			
			<textarea type="text" class="form-control" id="s_id" rows = 1 style="width:50%;float: left;"></textarea>
			<button type="submit" class="btn btn-primary" id='s-rejudge'>重判</button>
		</div>
	</div>
</div>