<div class="admin_right" id="admin-check">
	<div>
		<table class="table table-bordered table-hover" id='admin_check'>
		<thead>
            <tr>
                <th class="td-ID text-center">ID</th>
                <th class="td-ID text-center">Status</th>
                <th class="td-ID text-center">User</th>
				<th class="td-Title text-center">备注</th>
				 <th class="td-ID text-center">保存</th>
            </tr>
        </thead>
        <tbody>


        </tbody>
		
    	</table>
	</div>
	<script src="{{ STATIC_URL }}js/admin/check.js"></script>
</div>
