<div class="admin_right">
    <table class="table table-bordered table-hover" id='problem-list'>
        <thead>
            <tr>
                <th class="td-ID">ID</th>
                <th class="td-Title">Title</th>
<!--                <th class="td-Visible">Visible</th>-->
                <th class="Date">User</th>
                <th class="td-Visible">Visible</th>
            </tr>
        </thead>
		
    </table>
    <p>{{msg}}</p>
    <script src="{{ STATIC_URL }}js/admin/problem.js"></script>
</div>