<div class="admin_right">
	<div>
		<div class="form-group">
			<label for="">Title:</label>
			<input type="text" class="form-control" id="title" placeholder="Enter Title">
		</div>
		<div class="form-group">
			<label for="">desc:</label>
			<textarea type="text" class="form-control" id="desc" rows = 6></textarea>
		</div>
		<div class="form-group">
			<label for="">desc-input:</label>
			<textarea type="text" class="form-control" id="desc-input" rows = 6></textarea>
  		</div>
		<div class="form-group">
			<label for="">desc-input:</label>
			<textarea type="text" class="form-control" id="desc-output" rows = 6></textarea>
  		</div>
		<div class="form-group">
			<label for="">sample-input:</label>
			<textarea type="text" class="form-control" id="sample-input" rows = 6></textarea>
  		</div>
		<div class="form-group">
			<label for="">Sample Output:</label>
			<textarea type="text" class="form-control" id="sample-output" rows = 6></textarea>
  		</div>
		<div class="form-group">
			<label for="">Hint:</label>
			<textarea type="text" class="form-control" id="hint" rows = 6></textarea>
  		</div>
		<div class="form-group">
			<label for="">Source:</label>
			<input type="text" class="form-control" id="source" placeholder="Enter Source">
		</div>
		<div class="form-group">
			<label for="">Time limit:</label>
			<input type="text" class="form-control" id="timelimit" placeholder="Enter Time limit">
		</div>
		<div class="form-group">
			<label for="">Memory limit:</label>
			<input type="text" class="form-control"  id="memorylimit" placeholder="Enter Memory limit">
		</div>
		<div class="form-group">
			<label for="">Classify:</label>
			<select name="type" class="form-control" id="classify" style="width : 50%">
                <option value="0">其它</option>
                <option value="1">模拟</option>
                <option value="2">动态规划</option>
                <option value="3">字符串处理</option>
                <option value="4">搜索</option>
                <option value="5">数论 / 数值</option>
                <option value="6">计算几何</option>
                <option value="7">图结构</option>
                <option value="8">树结构</option>
                <option value="9">匹配</option>
                <option value="10">并查集</option>
                <option value="11">贪心</option>
                <option value="12">最短路</option>
                <option value="13">博弈论</option>
                <option value="14">高级数据结构</option>
                <option value="15">网络流</option>
            </select>
		</div>
		<div class="form-group">
			<label for="">Difficult:</label>
			<input type="text" class="form-control"  id="difficult">
		</div>
		
		<div class="form-group">
    		<label for="exampleInputFile">Data update</label>
    		<input type="file" id="input-data" style="width: 25%">
  		</div>
		
		<button type="submit" class="btn btn-primary" id='submit-problem'>Save</button>
	</div>
</div>