<div class="admin_right" id="contest-sim-list" style="display : none">
    <table class="table table-bordered table-hover" id='contest_sim_list'>
        <thead>
            <tr>
				<th class="td-Title text-center">User</th>
                <th class="td-ID text-center">Title</th>
                <th class="td-ID text-center">相似率Sim</th>
				<th class="td-Title text-center">Detail</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <p>{{msg}}</p>
    <script src="{{ STATIC_URL }}js/admin/contest.js"></script>
</div>