{% extends 'admin_oj/base.html' %}
{% block body %}
<div class="navbar navbar-inverse navbar-fixed-top">
    {% include "admin_oj/admin_top_bar.html"%}
</div>

<div class="container">
    <div class="row row-mid">
        <div class="col-md-2">
            {% include 'admin_oj/_admin_left.html' %}
        </div>
        <div class="col-md-9">

            <div class="tab-content" id = 'tab-content'>
                <div class="tab-pane active" id="home">
                </div>
                {% if privilege >= 5%}
                <div class="tab-pane" id="problem-list">
                    {% include "admin_oj/admin_problem_list.html" %}
					{% include "admin_oj/admin_problem_modify.html" %}
                </div>
                <div class="tab-pane" id="problem-add">
                    {% include "admin_oj/admin_problem_add.html" %}
					
                </div>
                {% endif %}
                
                {% if privilege >= 13%}
                <div class="tab-pane" id="contest-list">
                    {% include "admin_oj/admin_contest_list.html" %}
					{% include "admin_oj/admin_contest_fix.html" %}
                </div>
                <div class="tab-pane" id="contest-add">
                    {% include "admin_oj/admin_contest_add.html" %}
                </div>
                {% endif %}
                
                {% if privilege == 31%}
				<div class="tab-pane" id="contest-sim">
                    {% include "admin_oj/admin_sim_list.html" %}
					{% include "admin_oj/admin_contest_sim.html" %}
                </div>
				<div class="tab-pane" id="problem-rejudge">
                    {% include "admin_oj/admin_rejudge_list.html" %}
                </div>
                <div class="tab-pane" id="news-list">
                    {% include "admin_oj/admin_news_list.html" %} 
                    {% include "admin_oj/admin_news_modify.html" %}
                </div>
                <div class="tab-pane" id="news-add">
                    {% include "admin_oj/admin_news_add.html" %}
                </div>
                <div class="tab-pane" id="admin-check">
                    {% include "admin_oj/admin_check.html" %}
                </div>
                {% endif %}
            </div>

            <script>
                $(function () {
                    $('#myTab a:first').tab('show')
                })
            </script>

        </div>
    </div>
    <script src="{{ STATIC_URL }}js/admin/admin.js"></script>
</div>
{% endblock %}