
{% load rank_tag %}
<h1 class="text-center">{{contest_title}}</h1>
<a role="button" class="btn btn-success btn-sm" href="{% url 'contest_rank_xls' %}?cid={{cid}}&xls={{cid}}" style = "position:absolute; right:20px; top: 30px">Excel</a>
<table class="table table-bordered table-hover ">
    <thead>
      <tr>
        <th class="td-rid">No.</th>
        <th class="td-user">User</th>
        <th class="td-pid">Grade</th>
		{% for problem in contest_problem %}
			<th class="td-pid">{{problem.title}}</th>
		{% endfor %}
        <th class="td-pid">Solved</th>
        <th class="td-pid">Submit</th>
      </tr>
    </thead>
    <tbody class="status-td">
      {% for users in user_list %}
      <tr>
        <td>{% rank_tag page forloop.counter %}</td>
        <td><a href="{% url 'user_info' %}?username={{ users.0 }}">{{ users.0 }}</td>
        <td>{{ users.1 }}</td>
		{% for i in users.4 %}
		  {% if i.AC == True %}
			<td style="background-color:#66CCCC">{{i.score}}</td>
		  {% else %}
		  	{% if i.score != 0.0 %}
		  		<td style="background-color:#6666FF">{{i.score}}</td>
		  	{% else %}
		  		<td style="background-color:#996699">{{i.score}}</td>
		  	{% endif %}
		  {% endif %}
		{% endfor %}
        <td>{{ users.2 }}</td>
        <td>{{ users.3 }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>

<div class="problem-submit">
	<div>
    	<a role="button" class="btn btn-default" href='/contest_status/?cid={{cid}}'>Status</a>
   		<a role="button" href="/contest_problem_list/?cid={{cid}}" class="btn btn-primary status">Problem</a>
	</div>
</div>
