
{% load rank_tag %}
<h1 class="text-center">{{contest_title}}</h1>
<a role="button" class="btn btn-success btn-sm" href="{% url 'contest_rank_xls' %}?cid={{cid}}&xls={{cid}}" style = "position:absolute; right:20px; top: 30px">Excel</a>
<table class="table table-bordered table-hover ">
    <thead>
      <tr>
        <th class="td-rid">No.</th>
        <th class="td-user">User</th>
        <th class="td-pid">AC</th>
		<th class="td-pid">Time</th>
		{% for problem in contest_problem %}
			<th class="td-pid">{{problem.title}}</th>
		{% endfor %}
      </tr>
    </thead>
    <tbody class="status-td">
      {% for users in user_list %}
      <tr>
       {% if forloop.first %}
       <td>Winner</td>
       {% else %}
       <td>{{ forloop.counter }}</td>
        {% endif %}
        <td><a href="{% url 'user_info' %}?username={{ users.0 }}">{{ users.0 }}</td>
        <td>{{ users.1 }}</td>
		<td>{{ users.2 }}</td>
		  
		  {% for i in users.3 %}
		  {% if i.submit == 1 %}
		  	<td style="background-color:#aaaaff">
                {{i.ac_time}}
                {%if i.unsolved != 0%}
                	(-{{i.unsolved}})
                {%endif%}
            </td>
		  {% else %}
		  	{% if i.unsolved == 0%}
		  		<td></td>
		  	{% else %}
		  		<td style="background-color:#ffa0a0">(-{{i.unsolved}})</td>
		  	{% endif %}
		  {% endif %}
		  {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
</table>

<div class="problem-submit">
	<div>
    	<a role="button" class="btn btn-default" href='/contest_status/?cid={{cid}}'>Status</a>
   		<a role="button" href="/contest_problem_list/?cid={{cid}}" class="btn btn-primary status">Problem</a>
	</div>
</div>
