{% extends 'base_layout.html' %}
{% block title %}
Rank-List
{% endblock %}
{% block top_title%}
<div class="container">
    <h1>Rank</h1>
    <p>这就是现实 ！！</p>
</div>
{% endblock %}
{% block mid_top%}
{% endblock %}
{% block mid_left_3%}
{% include "_mid_left_3_default.html" %}
{% endblock %}
{% block mid_mid_9%}
{% if mode == None %}
{% include "rank/_rank_list.html" %}
{% else %}
    {% if mode == 1 %}
        {% include "rank/_rank_list_oi.html" %}
    {% else %}
        {% include "rank/_rank_list_acm.html" %}
    {% endif %}
{% endif %}

{% endblock %}