 {% load pagination_tags %}
<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="td-p">Status</th>
        <th class="td-ID">ID</th>
        <th class="td-Title">Title</th>
        <th class="td-Ratio">Ratio</th>
        <th class="Date">Date</th>
      </tr>
    </thead>
    <tbody>
      
 	{% autopaginate problems 50 %}
    {% for problem in problems %}
    <tr>
		{% if problem.id in accepteds %}
		<td class='problem_pass'></td>
		{% endif %}
		{% if problem.id in unsolveds and not problem.id in accepteds%}
		<td class='problem_unpass'></td>
		{% endif %}
		{% if not problem.id in accepteds and not problem.id in unsolveds %}
		<td></td>
		{% endif %}
        <td><a href = '/problem/?pid={{problem.id}}'>{{problem.id}}</a></td>
        <td><a href = '/problem/?pid={{problem.id}}'>{{problem.title}}</a></td>
        <td>
			<div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{% widthratio problem.accepted problem.submit 100%}" aria-valuemin="0" aria-valuemax="100" style="width: {% widthratio problem.accepted problem.submit 100%}%;">
                <span id = 'only' class="only" >{% widthratio problem.accepted  problem.submit 100%}%</span>
              </div>
            </div>
		</td>
        <td>{{problem.in_date | date:"Y-m-d H:i"}}</td>
    </tr>
    {% endfor %}
		
    </tbody>
</table>
{% paginate %}
