<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/submit_code/" method="post">
          {% csrf_token %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="myModalLabel">Submit Code</h3>
          </div>
          <div class="modal-body">
            <div class="form-group submit-language">
                <select name="language" class="form-control">
                        <option value="0">C</option>
                        <option value="1">C++</option>
                        <option value="3">Java</option>
                </select>
            </div>
<!--              需要初始化pid value=-->
            {% if cid %}
                <input type="hidden" name='cid' value="{{cid}}">
            {% endif %}
            <input type="hidden" name='pid' value="{{problem.id}}">
            <textarea name='code' rows='15' cols='67' autofocus="autofocus"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Code</button>
          </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
