
        <div class="problem">
        <div class="">
            <h1 class="problem-title">{{problem.title}}</h1>
            <p class="problem-info">
                <span>Time Limit: <span class="font-color">{{problem.time_limit}}</span> s</span>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <span>Memory Limit: <span class="font-color">{{problem.memory_limit}} </span>MB</span>
            </p>
            <p class="problem-info">
                <span>Difficulty: <span class="font-color">{{problem.difficult}}</span></span>
            </p>
        </div>
        <div class="mid">
            <div>
                <h3 class="mid-title">Description</h3>
                <div class="content">
                    <pre>{{problem.description | safe}}</pre>
                </div>
            </div>
            <div>
                <h3 class="mid-title">Input</h3>
                <div class="content">
                    <pre>{{problem.pro_input | safe}}</pre>
                </div>
            </div>
            <div>
                <h3 class="mid-title">Output</h3>
                <div class="content">
                    <pre>{{problem.pro_output | safe}}</pre>
                </div>
            </div>
            <div>
                <h3 class="mid-title">Sample Input</h3>
                <div class="content">
                    <pre>{{problem.sample_input |  safe}}</pre>
                </div>
            </div>
            <div>
                <h3 class="mid-title">Sample Output</h3>
                <div class="content">
                    <pre>{{problem.sample_output | safe}}</pre>
                </div>
            </div>
            {% if problem.source %}
            <div>
                <h3 class="mid-title">Source</h3>
                <div class="content">
                    <pre>{{problem.source | safe }}</pre>
                </div>
            </div>
            {% endif %}
            {% if problem.hint %}
            <div>
                <h3 class="mid-title">Hint</h3>
                <div class="content">
                    <pre>{{problem.hint | safe }}</pre>
                </div>
            </div>
            {% endif %}
        </div>
        </div>
