<div class="problem-submit">
    <div>
        {% if user.username %}
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">submit</button>
        {% else %}
            <button id='active_button' type="button" class="btn btn-primary btn-lg active" data-toggle="tooltip" data-placement="top" title="Please Sign In">submit</button>
          <script type="text/javascript">
             $(function() {
                 $('#active_button').tooltip({
                  container: "body"
                })
            })
          </script>
        {% endif %}
		{% if cid == None %}
      	<a role="button" href="{% url 'status_list' %}?problem_id={{problem.id}}" class="btn btn-default btn-lg status" >Status</a>
		{% else %}
		<a role="button" href="{% url 'contest_list' %}?cid={{cid}}&pid={{problem.id}}" class="btn btn-default btn-lg status" >Status</a>
		{% endif %}
    </div>
</div>